.front-first h1 {
    font-size: 38pt;
    font-family: 'Fredericka the Great' ;
    margin: 0 ;
    padding: 12rem 0 6rem 0;
    text-align: center;
    background-color:  #3e4957;
}

.front-first h1 a {
    color: #ffffff;
    text-decoration: none;
}

.search-box { 
    padding: 3rem 0rem 12rem 0rem;
    display: flex;
    background-color: #3e4957;
    justify-content: center;
    box-shadow: 0px 5px 3px -3px #1f1c1cf5;
}

.search-box .box {
    padding: 8px;
    width: 50vh;
    border: none;
    border-radius: 5vh;
    background-color:#e8eced;
}

button {
    transition: all .5s;
    box-shadow: 0px 3px 3px -3px #3a3a3af5;
}

button:hover {
    box-shadow: 3px 7px 8px 0px #3a3a3af5;
}

input:focus,
button:focus {
    outline: none;
}

.search-box button {
    cursor: pointer;
    border: none;
    border-radius: 5vh;
    background-color: #e8eced;
    font-size: 20px;
}
